{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block main %}
    {% for blog in blog_lists.object_list %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ blog.category.name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="2012-11-09T23:15:57+00:00">{{ blog.create_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ blog.author.username }}</a></span>
                <span class="comments-link"><a href="#">{{ blog.blog_count }} 评论</a></span>
                <span class="views-count"><a href="#">{{ blog.click_nums }} 阅读</a></span>
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>{{ blog.excerpt }}...</p>
            <div class="read-more cl-effect-14">
                <a href="{% url 'blog:detail' blog.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
    {% endfor %}
    <div class="pagination-simple">
    {% if blog_lists.has_previous %}
        <a href="?{{ blog_lists.previous_page_number.querystring }}">上一页</a>
    {% endif %}
    {% for page in blog_lists.pages %}
        {% if page %}
            {% ifequal page blog_lists.number %}
                <span class="current page">{{ page }}</span>
            {% else %}
                <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    {% if blog_lists.has_next %}
        <a href="?page={{ blog_lists.next_page_number }}">下一页</a>
    {% endif %}
    <span class="current">第 {{ blog_lists.number }} 页 / 共 {{ blog_lists.paginator.num_pages }} 页</span>

    </div>
{% endblock main %}

</html>
